extends components/base.pug

block title
  title Complain about this

block content
  div.columns
    div.column.has-text-centered
      figure.image.is-square
        img(src='https://cdn.discordapp.com/attachments/310171915320819722/321950396266315778/emoji.png')
