extends components/base.pug

block title
  title RD2L: Reddit Dota 2 League

block append header
  div.hero-body.has-text-centered
    div.container
      div.columns
        div.column
          figure.image.is-hero.hide-overflow.is-inline-block
            img(src='/assets/rd2l-lame.png')

block contentFull
  section.section
    div.container
      div.columns
        div.column
          div.level
            div.level-item
              h5.title.is-5
                span.icon
                  i.fa.fa-info-circle
                |
                | General
                |
                strong Info
          div.level
            div.level-item
              ul
                li Sundays 7:00 PM Pacific Time
                li 8 week regular season
                li Games played on US West
                li
                  a(href='https://github.com/seal-dota/rules') League Rules
        div.column
          div.level
            div.level-item
              h5.title.is-5
                span.icon
                  i.fa.fa-users
                |
                | Player
                |
                strong Culture
          div.level
            div.level-item
              ul
                li Make new friends
                li Get flamed by new friends
                li Be a part of the memes
                li bE a PaRt Of tHE mEMeS
        div.column
          div.level
            div.level-item
              h5.title.is-5
                span.icon
                  i.fa.fa-trophy
                |
                | SEAL
                |
                strong DOTA
          div.level
            div.level-item
              ul
                li Zero entry fee
                li Zero prizes
                li Zero skill
                li Zero reasons to join!
