extends components/base.pug

block title
  title Playoff Bracket

block content
  div.columns
    div.column.has-text-centered
      iframe(src="https://challonge.com/RD2LSzn17/module?theme=2" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true")
