:markdown-it(linkify langPrefix='highlight-')
  # SEAL Dota Season 3 Rules

  ## *How it works*

  ### 1. How Teams Form

  * Prior to the season, individuals sign up as a captain, player, free agent, or standin - this is not a league for pre-made teams.
  * All signups must be vouched by an admin or veteran player for conduct and activity.
  * Captains select 5 other players for their team in a player draft on the first Sunday of the season:
      1. Captains are seeded into a preliminary draft order roughly based on Rank (Lowest to highest).
      2. After each round, the draft order is revised - the average Rank of the team drafted up to that point is used (lowest to highest).
  * During the season, any players who leave a team or have inconsistent attendance will be replaced by a free agent of similar Rank.
  ### 2. Regular Season

  * The regular season is 8 weeks long, with a captain’s mode bo2 each week.
  * Matches are to begin by 7:00pm Pacific Time each Sunday.
  * Matches may be rescheduled to a different time or day if both captains agree.
  * Teams will be matched against other teams that have a similar record each week.

  ### 3. Post Season

  * After the regular season matches are completed, the top 8 teams will be placed in a single elimination bracket.
  * Lower placing teams still interested in completing the last two weeks of play may be placed in a casual bracket with other active teams.
  * Teams will have one week to schedule and play their required matches. Each match must be completed by end of day on Sunday.


  ## *Rules*

  ### 1. Eligibility

  * All participants must be vouched by an admin or veteran player for activity and behavior through the website (seal.gg).
  * Participants must sign up with their main account. This account may not be used by any other player for the duration of the season.
  * Participants must alert the admins if their Rank does not accurately reflect their skill level.
  * Admins may adjust a player's MMR to be more accurate in these situations.
  * Accounts must have at least 10 dota games (excluding Ability Draft) in the month before draft day recorded on Dotabuff.
  * No one should expect to miss more than 3 weeks in the season (including playoffs).
      1. If players expect inconsistent attendance for an upcoming season, they are encouraged to instead sign up as a standin or free agent, as appropriate.
  * Participants must have completed at least one previous season before signing up as a captain, unless they get permission from an admin (for example, exceptions may be made if the player was previously a captain in another league, such as RD2L or Echo League).
  * Nobody should be more cancerous than Aeosynth (he is the floor).

  ### 2. Participation

  * Each SEAL player is required to be in the official Discord server. The link can be found on seal.gg, or by contacting an admin.
  * Keeping up with every channel is not required, but it is highly recommended that alerts are left on in the Announcements channel, and that the channel is checked at least once per week.
  * Every player on a team’s roster must play in at least 1 game of the bo2 each week, if available.

  ### 3. Games

  * Games are to start by 7:00pm PST on Sundays, but may be rescheduled to any time that week if both captains agree.
  * All games are to be played on the USW server and in Captains Mode, hosted by one of the captains or an admin on the SEAL ticket.
  * Penalties for tardiness are as follows, and may be enforced by the opposing captain as they see fit:
    * Past 7:00 - Level 1 draft penalty.
    * Past 7:05 - Level 2 draft penalty.
    * Past 7:10 - Level 3 draft penalty.
    * Past 7:15 - Game 1 forfeit. 
    * Past 7:30 - Game 2 forfeit.
  * If 30 minutes pass and neither team is capable of playing, a double forfeit is issued.
  * Each team is allowed 10 minutes of pause time per game.
  * All chat is allowed, unless either captain requests no all chat.
    * All chat is always allowed for purpose of calling GG.
  * The “Away” team (listed second in the matchups) has choice of side or pick in game 1 and the “Home” team has choice of side or pick in game 2.
  * Teams are not allowed to “stream cheat” in any way - no player currently in a game may view a stream of the game, spectate the game, or communicate with anyone doing so.
  * Team members not playing are permitted to be in a caster slot in the lobby, but are not allowed to communicate with the team.

  ### 4. Standins

  * A standin may be used to replace any player unable to attend a match each week.
  * Only one player may be replaced per match - if a team is missing more than 2 players from their active roster, they forfeit their match. 
  * Each standin must be within 1 Rank of the player they are replacing (or lower), as listed in the Adjusted Rank tab from the draft sheet.
  * Players not signed up for Season 2 may be used as standins if no other suitable replacement can be found and an admin approves the player.
  * A team replacing one of their players with a standin must inform the opposing captain of both the player they are missing and the standin they are replacing them with before the match begins.

  ### 5. Free Agents

  * Free agents may be assigned by the admins with the following priority (assuming Rank is similar to the player being replaced):
    * Players left over from the draft/signed up as free agents prior to the season.
    * Players from disbanded teams that were not the cause of the disband.
    * Players that signed up as free agents during the season.

  ### 6. Conduct

  * Flaming is part of DOTA2, but repeated conduct (in games, discord, subreddit, or anywhere) that violates the below standards may result in removal from the league:
    * No hate speech (speech which attacks a person or group on the basis of attributes such as race, religion, ethnic origin, sexual orientation, disability, or gender).
    * No cyber-bullying.
    * No tactical fake GG calls (BM fake GG calls are allowed).

  ### 7. Postseason

  * The top 4 teams will be seeded into a single elimination bracket based on the following:
    * W-L record.
    * Strength of schedule.
    * Number of standins used (fewer is better).

  ### 8. Vouching

  * As noted earlier, each new player must be vouched by an admin or veteran of the league.
  * To vouch a player, sign in to seal.gg and find their signup in the unvouched player list and click "vouch." Doing so will record that the player has been vouched by you.
  * Vouching a player makes you responsible for that player's behaviour. If a player leaves the league midseason without consulting an admin, or is removed from the league for any reason, a strike will be recorded against the voucher. Any player with strikes against them may be disallowed from vouching future players.

  ### 9. Additional Circumstances

  * If a majority of the admins approve, any action may be taken and will be accompanied by a post outlining the action and reasoning.
