extends ../header.pug

block title
  title #{title} : Season List

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-list
        span Masters Seasons
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Register
            if user && user.isAdmin
              th Edit
        tbody
          each season in seasons
            tr
              td= `Season ${season.number}`
              td
                if season.active && season.registration_open
                  a(href='/masters/seasons/' + season.id + '/register') register
                else
                  span closed
              if user && user.isAdmin
                td
                  a(href='/masters/seasons/' + season.id + '/edit') edit
      if user && user.isAdmin
        a(href='/masters/seasons/create')
          button.button.is-primary Add season
