extends ../components/base.pug

block title
  title #{title} : Active divisions

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-list
        span Active divisions
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Start Time
            th Register
            th Registered?
        tbody
          each division in divisions
            tr
              td= division.name
              td= division.start_time
              if season.registration_open
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/register') register
              else
                td
                  a(href='/seasons/' + season.id + '/divisions/' + division.id + '/register') register as a free agent
              td
                if division.registered
                  span.icon.has-text-success.has-icon
                    i.far.fa-lg.fa-check-circle
                else
                  span.icon.has-text-danger.has-icon
                    i.far.fa-lg.fa-times-circle
