extends ../components/base.pug

block title
  title #{title} : Season List

block content
  div.hero-body.has-text-centered
    div.container
      div.columns
        div.column
          div.field
            a(href='https://discord.gg/UrWDQRR' alt='Join the RD2L Discord' target='_blank')
              figure.image.is-hero.is-inline-block
                img(src='/assets/discord.png')
              div
                button.button.is-primary Join the RD2L Discord
          div.field
            a(href='/seasons/' + season.id + '/divisions/' + division.id + '/players')
              button.button Continue to the player list
