extends ../header.pug

block title
  title #{title} : Edit Round

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fa.fa-edit
        span Edit round
      div
        form(method='post' action='/masters/round/edit')
          input(type='hidden' name="_csrf" value=csrfToken)
          input(type='hidden' name='season_id' value=season_id)
          input(type='hidden' name='division_id' value=division_id)
          div.field
            label.label(for='round') Round:
            p.control
              input.input(id='round' type='number' name='round' placeholder='Week' min='0' value=(round ? round : 0) required)
          div.field.is-grouped
            p.control
              button.button.is-primary Submit
