extends ../components/base.pug

mixin navigationButtons
  div.field.is-grouped
    div.control
      a(href='/seasons/' + season.id + '/playoff-series')
        button.button.is-success Playoffs
    div.control
      a.button(disabled) Bracket

block append head
  style(type='text/css').
    .playoff-wrapper {
      max-height: 95vh;
      overflow: scroll;
    }
    .playoff {
      display: flex;
      justify-content: space-evenly;
      min-width: fit-content;
    }

    .round {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 2rem;
      width: 245px;
    }

    .away,
    .home {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0.25rem 0 0;
      pointer-events: none;
    }

    .matchup {
      margin: 0 0 1rem;
      position: relative;
    }

    .team-name {
      margin: 0 auto 0 0.75rem !important;
      max-width: 10rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      pointer-events: all;
    }

    .team-name:hover {
      margin-left: 2.75rem !important;
      max-width: 100vw;
      min-width: 10rem;
      position: absolute;
    }

    .team-name a {
      text-decoration: none !important;
    }

    .points {
      width: 25.5px;
    }

    .time-placeholder {
      margin-top: 1.5rem;
    }

    .link-overlay {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    .edit-series {
      position: relative;
    }

block title
  title Playoff Bracket

block content
  +navigationButtons
  div.playoff-wrapper
    div.playoff.section
      each round in rounds
        div.round
          each matchup in round
            div.matchup
              if matchup.series_url
                a.link-overlay(href=matchup.series_url)
              if matchup.match_time_formatted
                div.tag
                  =matchup.match_time_formatted + ' EST'
              else
                div.time-placeholder
              div.home.notification.is-primary.is-marginless
                figure.image.is-32x32.hide-overflow
                  img(src=matchup.home_team_logo)
                div.team-name.notification.is-primary.is-paddingless
                  if matchup.home_team_name
                    a(href='/seasons/' + matchup.season_id + '/divisions/' + matchup.home_team_division_id + '/teams/' + matchup.home_team_id)
                      =matchup.home_team_name + (matchup.home_team_captain_name ?  ' (' + matchup.home_team_captain_name + ')' : '')
                span.points.tag.is-secondary
                  = matchup.home_points
              div.away.notification.is-secondary.is-marginless
                figure.image.is-32x32.hide-overflow
                  img(src=matchup.away_team_logo)
                div.team-name.notification.is-secondary.is-paddingless
                  if matchup.away_team_name
                    a(href='/seasons/' + matchup.season_id + '/divisions/' + matchup.away_team_division_id + '/teams/' + matchup.away_team_id)
                      =matchup.away_team_name + (matchup.away_team_captain_name ? ' (' + matchup.away_team_captain_name + ')' : '')
                span.points.tag.is-primary
                  = matchup.away_points
              if user && user.isAdmin
                if matchup.id
                  div.tag.is-link.edit-series
                    a.has-text-light(href='/seasons/' + matchup.season_id + '/playoff-series/' + matchup.id + '/edit') Edit
                else
                  div.tag.is-link.edit-series
                    a.has-text-light(href='/seasons/' + season.id + '/playoff-series/create?match=' + matchup.match_number + '&round=' + matchup.round) Create

