extends ../components/base.pug

block title
  title #{title} : Division List

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-list
        span Divisions
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Start Time
            th View
            th Register
            if user && user.isAdmin
              th Edit
        tbody
          each division in divisions
            tr
              td= division.name
              td= division.start_time
              td
                a(href='/divisions/' + division.id) view
              td
                a(href='/divisions/' + division.id + '/register') register
              if user && user.isAdmin
                td
                  a(href='/divisions/' + division.id + '/edit') edit
      div.field.is-grouped
        div.control
          a(href='/divisions')
            button.button.is-primary Show Active Divisions
        div.control
          a(href='/divisionsAll')
            button.button.is-primary Show All Divisions
        if user && user.isAdmin
          div.control
            a(href='/divisions/create')
              button.button.is-warning Add division

