doctype html
html(lang='en')
  block headFull
    head
      block head
        block title
          title= title
        block meta
          meta(name='og:title content="RD2L"')
          meta(name='og:description' content="R Dota 2 League. Amateur league where players of all skills are welcome to play.")
          meta(name='description' content="R Dota 2 League. Amateur league where players of all skills are welcome to play.")
          meta(name='og:image' content='http://rd2l.gg/assets/notext.png')
          meta(name='og:image:secure_url' content='https://rd2l.gg/assets/notext.png')
          meta(name='og:image:width' content='150')
          meta(name='og:image:height' content='150')
          meta(name='og:url' content='https://rd2l.gg')
        link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')
        if user && user.theme
          link(rel='stylesheet' type='text/css' href='https://unpkg.com/bulmaswatch@0.7.5/' + user.theme + '/bulmaswatch.min.css')
        link(rel='icon' type='image/png' href='/assets/notext.png')
        script(defer src='https://use.fontawesome.com/releases/v5.0.9/js/all.js' integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl' crossorigin='anonymous')
        style(type='text/css').
          .logo-container {
            width: 40%;
            margin: 1.5rem auto 0;
            text-align: center;
          }
          figure.littlelogo {
            visibility: hidden;
            display: none;
          }
          @media(max-width: 520px) {
            figure.biglogo {
              visibility: hidden;
              display: none;
            }
            figure.littlelogo {
              visibility: visible;
              display: block;
            }
          }
          .disbanded {
            text-decoration: line-through;
          }
          figure.hide-overflow {
            overflow: hidden;
          }
          .table.is-middle-aligned th,
          .table.is-middle-aligned td {
            vertical-align: middle;
          }
          .has-image, .has-icon {
            display: flex;
            align-items: center;
          }
          .has-image figure {
            margin-right: 0.3em;
          }
          .has-icon .icon {
            margin-right: 0.1em;
          }
          .title.has-icon .icon {
            margin-right: 0.3em;
          }
          .no-margin {
            margin-right: 0 !important;
          }
          .image.rank.is-32x32 {
            min-height: 32px;
            min-width: 32px;
          }
          .image.rank.is-48x48 {
            min-height: 48px;
            min-width: 48px;
          }
          .image.is-team-logo {
            width: 50px;
            height: 30px;
          }
          .image.is-team-logo-medium {
            width: 100px;
            height: 60px;
          }
          .image.is-hero {
            width: 600px;
          }
          .image.is-roster {
            width: 64px;
            height: 64px;
          }
          .tiny-text {
            font-size: 0.6rem;
          }

          /* Tooltip container */
          .tooltip {
              position: relative;
              border-bottom: 1px dotted black;
          }

          /* Tooltip text */
          .tooltip .tooltiptext {
              visibility: hidden;
              width: 120px;
              background-color: black;
              color: #fff;
              text-align: center;
              padding: 5px 0;
              border-radius: 6px;

              /* Position the tooltip text - see examples below! */
              position: absolute;
              z-index: 1;
              width: 400px;
              bottom: 100%;
              left: 50%;
              margin-left: -200px;
          }

          /* Show the tooltip text when you mouse over the tooltip container */
          .tooltip:hover .tooltiptext,
          .tooltip:focus .tooltiptext,
          .tooltip:focus-within .tooltiptext {
              visibility: visible;
          }

          .tooltip:focus,
          .tooltip:focus *,
          .tooltip :focus {
            outline: none;
          }

          tr.cutoff td {
            border-bottom: 1px solid red;
          }

          img.circle {
            border-radius: 50%;
          }
          img.notable {
            display: inline-block;
            padding-right: 5px;
          }
          img.notable-hero {
            height: 50px;
            display: inline-block;
            padding-right: 5px;
          }
          .text-icon span {
            vertical-align: middle;
            display: inline-block;
            padding-right: 24px;
          }
          .text-icon img {
            vertical-align: middle;
            display: inline-block;
          }
          .navbar-item .activity-check {
            color: red;
            margin-left: 0.4em;
            padding-bottom: 0.25em;
          }
          .icon-box * {
            margin: 0 0.2em;
          }
          .rules ol {
            list-style-position: outside;
            margin-left: 1.5em;
          }
          .rules ol ul {
            list-style-position: outside;
            list-style-type: circle;
            margin-left: 1.5em;
          }
          .rules ol ul ul {
            list-style-type: square;
          }
          .is-wide-scroll {
            overflow: auto;
          }
          ul.table-list li + li {
          margin-top: 8px;
          }
          @media screen and (max-width: 1007px) {
            .text-icon span {
              padding-right: 16px;
            }
          }
          @media screen and (max-width:768px) {
            .has-image {
              flex-direction: column;
              text-align: center;
            }
            .has-image .image.is-team-logo-medium {
              width: 250px;
              height: 150px;
              margin-bottom: 36px;
            }
          }
  block bodyFull
    body.layout-default
      block body
        block header
          section.hero
            div.hero-head
              nav.navbar
                div.navbar-brand
                  a.navbar-item(href='/')
                    span.icon
                      i.fa.fa-lg.fa-home
                  if user
                    a.is-hidden-desktop.navbar-item(href='/profile/' + user.steamId).text-icon
                      img.circle(src=user.avatar)
                      if user.activityCheckRequired
                        i.fa.fa-exclamation-circle.activity-check
                  div.navbar-burger.burger(data-target='seal-menu')
                    span
                    span
                    span
                div.navbar-menu#seal-menu
                  div.navbar-start
                    a.navbar-item(href='/seasons') Seasons
                    a.navbar-item(href='/divisions') Divisions
                    a.navbar-item(href='/register') Register
                  div.navbar-end
                    if user
                      a.navbar-item.is-hidden-touch(href='/profile/' + user.steamId).text-icon
                        span= user.displayName
                          if user.activityCheckRequired
                            i.fa.fa-exclamation-circle.activity-check
                        img.circle(src=user.avatar)
                      a.navbar-item(href='/logout') Log out
                    else
                      a.navbar-item(href='/auth/steam').has-icon
                        span.icon.is-small
                          i.fab.fa-steam
                        span &nbsp;Log in
        block contentFull
          section.section
            div
              block content
        block footer
          footer.footer
            div.container.is-fullhd
              div.columns
                div.column
                  div.level
                    div.level-item
                      h5.title.is-5 Contact
                  div.level
                    div.level-item
                      ul
                        li
                          a(href='https://discord.gg/y4NkFrw' alt='Join the RD2L Discord' target='_blank') Join Discord
                        li
                          a(href='mailto:admins@rd2l.gg') Email
                        li
                          a(href='https://github.com/hardytool/server/issues/new') Report a bug
                        li
                          a(href='/complaint') Submit a complaint
                div.column
                  div.level
                    div.level-item
                      h5.title.is-5 Resources
                  div.level
                    div.level-item
                      ul
                        li
                          a(href='/rules') League rules
                        li
                          a(href='/inhouserules') Inhouse rules
                        li
                          a(href='/bracket?season=Bk7IiVM0C') Playoff Bracket
                div.column
                  div.level
                    div.level-item
                      h5.title.is-5 Built using
                  div.level
                    div.level-item
                      ul
                        li
                          a(href='http://bulma.io/') Bulma
                        li
                          a(href='http://expressjs.com/') Express
                        li
                          a(href='http://passportjs.org/') Passport
              div.columns
                div.column.has-text-centered
                  span.icon-box
                    a(href='https://www.twitch.tv/treebearddoto')
                      span.icon
                        i.fab.fa-lg.fa-twitch
                    a(href='https://github.com/hardytool/server')
                      span.icon
                        i.fab.fa-lg.fa-github
                    a(href='https://discord.gg/y4NkFrw')
                      span.icon
                        i.fab.fa-lg.fa-discord
              div.columns
                div.column.has-text-centered
                  p
                    small.
                      All product and company names are trademarks™ or
                      registered® trademarks of their respective holders. Use of
                      them does not imply any affiliation with or endorsement by
                      them.
  script(type='text/javascript').
    (function() {
      var burgers = Array.prototype.slice.call(document.querySelectorAll('.burger'), 0);

      if (burgers.length > 0) {
        burgers.forEach(function (el) {
          el.addEventListener('click', function () {
            var target = document.getElementById(el.dataset.target);
            el.classList.toggle('is-active');
            target.classList.toggle('is-active');
          });
        });
      }
    })();
