doctype html
html(lang='en')
  block headFull
    head
      block head
        block title
          title= title
        link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css')
        link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='icon' type='image/png' href='https://raw.githubusercontent.com/seal-dota/seal-dota.github.io/master/seal.png')
        style(type='text/css').
          figure.hide-overflow {
            overflow: hidden;
          }
          .table.is-middle-aligned th,
          .table.is-middle-aligned td {
            vertical-align: middle;
          }
          .has-image {
            display: flex;
            align-items: center;
          }
          .image.is-team-logo {
            width: 50px;
            height: 30px;
          }
          .image.is-team-logo-medium {
            width: 100px;
            height: 60px;
          }
          .tiny-text {
            font-size: 10px;
            line-height: 12px;
          }
          @media screen and (max-width:768px) {
            .has-image {
              flex-direction: column;
              text-align: center;
            }
            .has-image .image.is-team-logo-medium {
              width: 250px;
              height: 150px;
              margin-bottom: 36px;
            }
          }
  block bodyFull
    body.layout-default
      block body
        block header
          section.hero.has-text-centered
            div.hero-head
              div.container.is-fullhd
                nav.nav
                  div.nav-left
                    a.nav-item(href='/')
                      span.icon
                        i.fa.fa-home
                    a.nav-item(href='/seasons') Seasons
                    a.nav-item(href='/matchups') Matchups
                    a.nav-item(href='/standings') Standings
                    a.nav-item(href='/teams') Teams
                    a.nav-item(href='/register') Register
                  div.nav-right
                    if user
                      a.nav-item(href='/profile/' + user.steamId)= user.displayName
                      a.nav-item(href='/profile/' + user.steamId)
                        img(src=user.avatar)
                      a.nav-item(href='/logout') Log out
                    else
                      a.nav-item(href='/auth/steam')
                        span.icon.is-small
                          i.fa.fa-steam
                        span &nbsp;Log in
        block contentFull
          section.section
            div.container.is-fullhd
              block content
        block footer
          footer.footer
            div.container.is-fullhd
              div.columns
                div.column
                  div.level
                    div.level-item
                      h5.title.is-5 Contact
                  div.level
                    div.level-item
                      ul
                        li
                          a(href='mailto:admin@seal.gg') Email
                        li
                          a(href='https://github.com/seal-dota/server/issues/new') Report a bug
                        li
                          a(href='/complaint') File a complaint
                        li
                          a(href='https://www.reddit.com/r/SEALDota/submit') Provide feedback
                div.column
                  div.level
                    div.level-item
                      h5.title.is-5 Resources
                  div.level
                    div.level-item
                      ul
                        li
                          a(href='https://github.com/seal-dota/rules') League Rules
                        li
                          a(href='https://sites.google.com/view/playerdex/playerdex') SEAL PlayerDex
                        li
                          a(href='http://steamcommunity.com/sharedfiles/filedetails/?id=917953091') Workshop Ticket
                div.column
                  div.level
                    div.level-item
                      h5.title.is-5 Built using
                  div.level
                    div.level-item
                      ul
                        li
                          a(href='http://bulma.io/') Bulma
                        li
                          a(href='http://expressjs.com/') Express
                        li
                          a(href='http://passportjs.org/') Passport
                        li
                          a(href='https://github.com/seishun/node-steam') Steam for Node.js
                        li
                          a(href='https://github.com/Arcana/node-dota2') node-dota2
              div.columns
                div.column.has-text-centered
                  span
                    a(href='https://www.twitch.tv/treebearddoto')
                      span.icon
                        i.fa.fa-twitch
                    a(href='https://github.com/seal-dota/server')
                      span.icon
                        i.fa.fa-github
                    a(href='https://www.reddit.com/r/SEALDota')
                      span.icon
                        i.fa.fa-reddit-alien
              div.columns
                div.column.has-text-centered
                  p
                    small.
                      All product and company names are trademarks™ or
                      registered® trademarks of their respective holders. Use of
                      them does not imply any affiliation with or endorsement by
                      them.
