extends ../components/base.pug

block title
  title #{title} : Must have a calibrated medal

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fa.fa-exclamation-triangle
        span Must have a calibrated medal
  div.columns
    div.column
      if error
        span= error
      else
        div You must have a medal to be eligible for self-registration.
        div If you've just recently calibrated your medal, please try again later.
        div If you do not have a medal, please contact a division admin for assistance with registration.
