extends ../header.pug

block title
  title #{title} : Masters Division List

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-list
        span Masters Divisions
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Current Season
            th Register
            if user && user.isAdmin
              th Edit
        tbody
          each division in divisions
            tr
              td= division.name
              td
                a(href='/masters/divisions/' + division.id) view
              td
                a(href='/masters/divisions/' + division.id + '/register') register
              if user && user.isAdmin
                td
                  a(href='/masters/divisions/' + division.id + '/edit') edit
      if user && user.isAdmin
        div.control
          a(href='/masters/divisions/create')
            button.button.is-warning Add division

