extends ../components/base.pug

block title
  title #{title} : Season List

block content
  div.columns
    div.column
      h3.title.is-3
        span.icon.is-medium
          i.fa.fa-list
        span &nbsp;Seasons
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Number
            th Name
            th Players
            th Captains
            th Teams
            th Series
            th Standings
            th Matchups
            th Register
            if user && user.isAdmin
              th Edit
        tbody
          each season in seasons
            tr
              td= season.number
              td= season.name
              td
                a(href='/seasons/' + season.id + '/players') players
              td
                a(href='/seasons/' + season.id + '/captains') captains
              td
                a(href='/seasons/' + season.id + '/teams') teams
              td
                a(href='/seasons/' + season.id + '/series') series
              td
                a(href='/seasons/' + season.id + '/standings') standings
              td
                a(href='/seasons/' + season.id + '/matchups') matchups
              td
                a(href='/seasons/' + season.id + '/register') register
              if user && user.isAdmin
                td
                  a(href='/seasons/' + season.id + '/edit') edit
      if user && user.isAdmin
        a(href='/seasons/create')
          button.button.is-primary Add season
