extends ../components/base.pug

block title
  title #{title} : Season List

block content
  div.columns
    div.column
      h3.title.is-3.has-icon
        span.icon.is-medium
          i.fas.fa-list
        span Seasons
      table.table.is-striped.is-middle-aligned.is-fullwidth
        thead
          tr
            th Name
            th Register
            if user && user.isAdmin
              th Edit
              th Start
        tbody
          each season in seasons
            tr
              td= season.name
              td
                if season.registration_open
                  a(href='/seasons/' + season.id + '/register') register
                else
                  if season.active
                    a(href='/seasons/' + season.id + '/register') register as a free agent
                  else
                    span closed
              if user && user.isAdmin
                td
                  a(href='/seasons/' + season.id + '/edit') edit
                td
                  a(href='/seasons/' + season.id + '/start') start
      if user && user.isAdmin
        p.help Please note that in order to prevent crashes when loading individual series or matchups pages, the 'Start' link must be clicked. Clicking multiple times will result in a Internal Server Error for now
        a(href='/seasons/create')
          button.button.is-primary Add season
