extends ../components/base.pug

block append head
  style(type='text/css').
    .playoff {
      background-color: grey;
      display: flex;
    }

    .round {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 3em;
    }

    .away,
    .home {
      align-items: center;
      display: flex;
    }

    .home {
      border-
    }

    .away {

    }

    .matchup {
      margin: 1em 0;
      background-color: white;
    }

block title
  title Playoff Bracket

block content
  div.playoff
    each round in rounds
      div.round
        each matchup in round
          div.matchup
            div.home
              figure.image.is-32x32.hide-overflow
                img(src=matchup.home_team_logo)
              div= matchup.home_team_name
            div.away
              figure.image.is-32x32.hide-overflow
                img(src=matchup.away_team_logo)
              div= matchup.away_team_name

