extends ../components/base.pug

block title
  title Playoff Bracket

block content
  <div style='display:flex;'>
  each round in rounds
    <div style='display:flex;flex-direction:column;'>
      <span>ROUND</span>
      each matchup in round
        <div>MATCHUP</div>
    </div>
  <div>

