extends ../components/base.pug

mixin navigationButtons
  div.field.is-grouped
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/players')
        button.button.is-primary Players
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/captains')
        button.button.is-success Captains
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/stand-ins')
        button.button.is-info Stand-ins
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/teams')
        button.button.is-warning Teams
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/series')
        button.button.is-info Series
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/standings')
        button.button.is-success Standings
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/matchups')
        button.button.is-primary Matchups
    div.control
      a(href='/seasons/' + season.id + '/divisions/' + division.id + '/playoffs')
        button.button.is-success Playoffs

block append head
  style(type='text/css').
    .playoff {
      display: flex;
      justify-content: space-evenly;
    }

    .round {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .away,
    .home {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-right: 1.5rem;
    }

    .matchup {
      margin: 1rem 0;
    }

    .team-name {
      margin: 0 0.5rem;
    }

block title
  title Playoff Bracket

block content
  +navigationButtons
  div.playoff.section
    each round in rounds
      div.round
        each matchup in round
          div.matchup.card
            a.home.notification.is-dark.is-marginless(href='/seasons/' + matchup.season_id + '/divisions/' + matchup.division_id + '/teams/' + matchup.home_team_id)
              figure.image.is-32x32.hide-overflow
                img(src=matchup.home_team_logo)
              div.team-name
                =matchup.home_team_name
              span.points.tag.is-light
                = matchup.home_points
            a.away.notification.is-light.is-marginless(href='/seasons/' + matchup.season_id + '/divisions/' + matchup.division_id + '/teams/' + matchup.away_team_id)
              figure.image.is-32x32.hide-overflow
                img(src=matchup.away_team_logo)
              div.team-name
                =matchup.away_team_name
              span.points.tag.is-dark
                = matchup.away_points

